<h1>About Us</h1>
<p>
The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
is a projesct to make a book and screencast to teach to teach web development with<a  href="http://rubytutorial.org/">Ruby on Rails</a>. This is the ssample application for the tutorial.</p>